<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Raama Batista</a>
        <a class="navbar-brand" href="#">@ProgramaçãoWeb

    </div>
</nav>
</body>

</html>