
<style>
 .navbar{
    background-color: azure;
 }
</style>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">"A leitura é a viagem que nos transporta para mundos infinitos"</a>
        <a class="navbar-brand" href="#">@Books_Habits

    </div>
</nav>
</body>

</html>