<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Pagina Inicial</title>
</head>

<body>
    <div class="container mt-3 ">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item ">
                <a class="nav-link " href="index.html">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="tabela.html">Tabela</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active bg-dark" href="sobre.html">Sobre</a>
            </li>

        </ul><br><br>
        <h1 style="text-align: center;">Sobre</h1><br>



        <main>
 <div class="container mt-3">
                <div class="mt-4 p-5 bg-dark text-white rounded">
                  <h1>Example 1</h1> 
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dicta magni consectetur beatae voluptatibus deleniti temporibus dolores dignissimos adipisci, ab quam esse, at mollitia, assumenda itaque molestias. Repellendus, qui hic?</p>
                </div>
              </div>

              <div class="container mt-3">
                <div class="mt-4 p-5 bg-dark text-white rounded">
                  <h1>Example 2</h1> 
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
                </div>
              </div>
              
              

        </main>


        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Raama Batista</a>
                <a class="navbar-brand" href="#">@ProgramaçãoWeb

            </div>
        </nav>
</body>

</html>